html {
	font-size: 10px;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	overflow: hidden; /* Remove when making new section */
}

.animations-paused *,
.animations-paused *:before,
.animations-paused *:after {
  animation-play-state: paused !important;
}

@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Aldrich Regular'), local('Aldrich-Regular'), url(/fonts/MCoTzAn-1s3IGyJMVacY3w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.flex-h-center {
	display: flex;
	justify-content: center;
}

.flex-hv-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-hv-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navbar {
	height: 60px;
	background-color: #111111;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

#nav-list {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.nav-item {
	height: 100%;
	width: 60px;
	list-style: none;
	box-sizing: border-box;
	border-right: solid 1px #323232;
}

#nav-list .nav-item:first-of-type {
	border-left: solid 1px #323232;
}

.nav-link {
	color: white;
	cursor: pointer;
	font-size: 2rem;
	width: 100%;
	height: 100%;
}

.nav-link:hover {
	background-color: #303030;
}

.nav-link.active {
	background-color: #4d79ff;
}

#welcome-section {
	padding-top: 60px;
	height: calc(100% - 60px);
	min-height: 300px; /* optional */
}

.scaling-img {
	image-rendering: -webkit-optimize-contrast;
	max-height: 100%;
	max-width: 100%;
}

#screen {
	position: absolute;
	visibility: hidden;
}

.scaling-svg-container-wrapper {
	width: 25%;
}

.scaling-svg-container {
	position: relative;
	height: 0;
	width: 100%;
	padding: 0;
	padding-bottom: 100%;
	/* override this inline for aspect ratio other than square */
}

.scaling-svg {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

/* "Programming_" text animation */

@keyframes fadeInOut {
  50% {
    opacity: 0;
  }
}

@keyframes move_ {
  100% {
    transform: translateX(6px);
  }
}

@keyframes move_1 {
  100% {
    transform: translateX(13px);
  }
}

@keyframes move_2 {
  100% {
    transform: translateX(21px);
  }
}

@keyframes move_3 {
  100% {
    transform: translateX(27px);
  }
}

@keyframes move_4 {
  100% {
    transform: translateX(35px);
  }
}

@keyframes move_5 {
  100% {
    transform: translateX(46px);
  }
}

@keyframes move_6 {
  100% {
    transform: translateX(57px);
  }
}

@keyframes move_7 {
  100% {
    transform: translateX(60px);
  }
}

@keyframes move_8 {
  100% {
    transform: translateX(68px);
  }
}

@keyframes move_9 {
  100% {
    transform: translateX(76px);
  }
}

#underscore {
  animation: fadeInOut 1s infinite,
  move_ 0s .1s forwards,
  move_1 0s .2s forwards,
  move_2 0s .3s forwards,
  move_3 0s .4s forwards,
  move_4 0s .5s forwards,
  move_5 0s .6s forwards,
  move_6 0s .65s forwards, /* m faster (realness) */
  move_7 0s .75s forwards,
  move_8 0s .85s forwards,
  move_9 0s .95s forwards;
}

#programming > text:not(:first-child):not(:last-child) {
  opacity: 0;
}

@keyframes reveal {
  100% {
    opacity: 1;
  }
}

#r {
  animation: reveal 0s .1s forwards;
}

#o {
  animation: reveal 0s .2s forwards;
}

#g {
  animation: reveal 0s .3s forwards;
}

#r1 {
  animation: reveal 0s .4s forwards;
}

#a {
  animation: reveal 0s .5s forwards;
}

#m {
  animation: reveal 0s .6s forwards;
}

#m1 {
  animation: reveal 0s .65s forwards;
}

#i {
  animation: reveal 0s .75s forwards;
}

#n {
  animation: reveal 0s .85s forwards;
}

#g1 {
  animation: reveal 0s .95s forwards;
}

/* TODO - Translate this code into JS */

/* 
Hiding the rect on page load 
And add the "expand" animation
*/
rect {
  opacity:0;
  animation: expand 0.2s forwards;
}
/* End of housekeeping css */xs

/* Delays to subsequent "dashes" */
#line1 #dash-2 {
  animation-delay:0.1s;
}

#line1 #dash-3 {
  animation-delay:0.2s;
}

#line1 #dash-4 {
  animation-delay:0.3s;
}

#line2 #dash-1 {
  animation-delay:0.4s;
}

#line2 #dash-2 {
  animation-delay:0.5s;
}

#line2 #dash-3 {
  animation-delay:0.6s;
}

#line3 {
  animation-delay:0.7s;
}

#line4 {
  animation-delay:.8s;
}

#line5 {
  animation-delay:0.9s;
}

#line6 {
  animation-delay:1s;
}

@keyframes expand {
  0% { opacity: 1; width: 0}
  100% { opacity: 1; width: 1 }
}

#group1 {
  animation: scroll 1s linear infinite;
  animation-delay: 1s;
}

@keyframes scroll {
  0% {transform: translateY(initial)}
  100% {transform: translateY(-165px)}
}

#group2 {
  transform: translateY(165px);
  animation: scroll2 1s linear infinite;
  animation-delay: 1s
}

@keyframes scroll2 {
  0% {transform: translateY(165px)}
  100% {transform: translateY(0px)}
}

/*Start of the painful CSS...*/

#group2 #line1 #dash-1 {
  animation: line1dash1 1s linear infinite;
  opacity:1;
}

@keyframes line1dash1 {
  0% {width: 0}
  20% {width: 40px}
  100% {width: 40px} /* <-- 20% and 100% are the same, giving us that "delayed effect*/
}

#group2 #line1 #dash-2 {
  animation: line1dash2 1s linear infinite;
  opacity:1;
}

@keyframes line1dash2 {
  0% {width: 0px;}
  10% { width: 0px;} /*<-- we start the second dash at 10% instead of the 0% above */
  30% { width: 60px;}
  100% { width: 60px;}
}

#group2 #line1 #dash-3 {
  animation: line1dash3 1s linear infinite;
  opacity:1;
}

@keyframes line1dash3 {
  0% {width: 0px;}
  20% { width: 0px;}
  40% { width: 100px;}
  100% { width: 100px;}
}


#group2 #line1 #dash-4 {
  animation: line1dash4 1s linear infinite;
  opacity:1;
}

@keyframes line1dash4 {
  0% {width: 0px;}
  35% { width: 0px;}
  50% { width: 70px;}
  100% { width: 70px;}
}


#group2 #line2 #dash-1 {
  animation: line2dash1 1s linear infinite;
  opacity:1;
}

@keyframes line2dash1 {
  0% {width: 0px;}
  40% { width: 0px;}
  60% { width: 40px;}
  100% { width: 40px;}
}

#group2 #line2 #dash-2 {
  animation: line2dash2 1s linear infinite;
  opacity:1;
}

@keyframes line2dash2 {
  0% {width: 0px;}
  50% { width: 0px;}
  70% { width: 60px;}
  100% { width: 60px;}
}

#group2 #line2 #dash-3 {
  animation: line2dash3 1s linear infinite;
  opacity:1;
}

@keyframes line2dash3 {
  0% {width: 0px;}
  60% { width: 0px;}
  80% { width: 80px;}
  100% { width: 80px;}
}

#group2 #line3 {
  animation: line3 1s linear infinite;
  opacity:1;
}

@keyframes line3 {
  0% {width: 0px;}
  65% { width: 0px;}
  85% { width: 290px;}
  100% { width: 290px;}
}

#group2 #line4 {
  animation: line4 1s linear infinite;
  opacity:1;
}

@keyframes line4 {
  0% {width: 0px;}
  70% { width: 0px;}
  90% { width: 225px;}
  100% { width: 225px;}
}

#group2 #line5 {
  animation: line5 1s linear infinite;
  opacity:1;
}

@keyframes line5 {
  0% {width: 0px;}
  80% { width: 0px;}
  95% { width: 40px;}
  100% { width: 40px;}
}

#group2 #line6 {
  animation: line6 1s linear infinite;
  opacity:1;
}

@keyframes line6 {
  0% {width: 0px;}
  85% { width: 0px;}
  100% { width: 40px;}
}