html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: 'Righteous', cursive;
	background: #292929;
	box-sizing: border-box; /* remove after removing - height: 100vh; */
	height: 100vh;
	padding: 5px;
}

#page-title {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: rgb(255,255,255);
	font-size: 5rem;
}

#page-description {
	color: rgb(200,200,200);
	font-size: 2.2rem;
	text-align: center;
	margin: 25px 0px;
}

hr {
	border: 0;
	height: 1px;
	background: rgb(120,120,120);
}

.separator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px 0;
}

.sq {
	width: 11px;
	height: 11px;
	box-sizing: border-box;
	border: 2px solid rgb(120,120,120);
	transform: rotate(45deg);
}

.page-hr {
	width: calc(100% - 18px);
	margin: 0;
}

@media only screen and (min-width: 800px) {
	.page-hr {
		width: 750px;
	}
}